body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
/* header related style */
.header{
    background: rgba(229, 84, 115, 0.10);
}
.banner-container{
    padding: 40px 40px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-container .profile-pic{
    width: 400px;
 

}
.tittle{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}
.banner-des{
    color: rgba(39, 39, 39, 0.60);
font-size: 10px;
font-weight: 400;
}
.btn-primary{
    border-radius: 4px;
background: #E55473;
color: #FFF;
font-size: 10px;
font-weight: 700;
padding: 10px 30px;
border: none;
}
/* main section styles */

 /* Featured Flowers style */
 .Featured-Flowers{
    padding: 50px ;
    margin: 50px 0;
    text-align: center;
}
.section-tittle{
    color: #272727;
    font-size: 40px;
font-weight: 800;
margin-bottom: 10px;
}
.section-des{
    color: rgba(39, 39, 39, 0.60);
font-size: 10px;
font-weight: 400;

}
 .featured-flowers-content{
    display: flex;
    gap: 24px;

 }
 .Featured-Flowers-info{
    width: 370px;
    height: 370px;
    flex-shrink: 0;

 }
 .Featured-Flowers-pic1{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);

 }
 .Featured-Flowers-pic2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
 }
 .Featured-Flowers-pic3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
 }
 .flower-con-p{
    display: flex;
    justify-content: space-around;
    color: #272727;
text-align: center;
font-size: 15px;
font-weight: 700;
text-decoration-line: underline;
 }
 .hot-container{
    width: 100%;
   align-items: center;
   justify-content:space-evenly;
  margin-right: 30px;
   padding: 50px;
background: rgba(229, 84, 115, 0.05);
display: flex;
 }
 
 
 .hot-title{
    color: #272727;
    font-size: 50px;
font-weight: 800;
 }
 .hot-des{
    color: rgba(39, 39, 39, 0.60);
    font-size: 8px;
    font-weight: 400;
    }
 .profile-pic-2{
    width: 200px;
 }
.ig-container{
    width: 100%;
}
.ig-tittle{
    color: #272727;
font-size: 40px;
font-weight: 800;
margin-bottom: 10px;
}
.ig-des{
    color: rgba(39, 39, 39, 0.60);
font-size: 10px;
font-weight: 400;
}
.ig-content{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.logo-tittle{
    width: 300px;
}

    .get-container{
        height: 200px;
        background-image: url("./FlowerAsset/Rectangle\ 9.png");
       width: 80%;
   margin:0 auto;
   background-repeat: no-repeat;
   text-align: center;
   background-size: cover;
   padding:60px;
  
}
.get-tittle{
    color: #272727;
font-size: 20px;
font-weight: 800;
margin-bottom: 10px;

}
  .get-des{
    color: rgba(39, 39, 39, 0.60);
font-size: 10px;
font-style: normal;
font-weight: 400;
margin-top: 10px;
  }
  .get-container input {
    width: 50%;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 4px 0;
    border: none;
   
  }
  .shop-contant{
    background-color: black;
color: white;
width: 100%;
height: 250px;
text-align: center;
padding-top: 70px;
    margin-top: 100px;
  }
  .shop-title{    
font-size: 100px;
font-weight: 800;
margin-bottom: 70px;
  }
  .shop-des{
    color: rgba(255, 255, 255, 0.90);
font-size: 10px;
font-weight: 400;
}
.commercial{
    color: rgba(255, 255, 255, 0.40);
font-size: 6px;
font-weight: 400;
}